#Configuraciones de firebase
REACT_APP_FIREBASE_API_KEY=KJLHFDHSIFOEURFNFDFADSJKJDSLJLJ
REACT_APP_FIREBASE_AUTH_DOMAIN=dominio-api.firebaseapp.com
REACT_APP_FIREBASE_PROJECT_ID=dominio-project
REACT_APP_FIREBASE_STORAGE_BUCKET=dominio-api.firebasestorage.app
REACT_APP_FIREBASE_MESSAGING_SENDER_ID=654865413214564
REACT_APP_FIREBASE_APP_ID=5:65465461564654889:web:c65546dfd5643214



#Apartado de sistemas de reCAPTCHA